* {
  font-size: 14px;
  line-height: 1.5;
}
body {
  .el-tree-node__children,
  .collapse-transition {
    transition: none !important;
  }

  .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
    background-color: #ccefff;

  }
}
