$bg: #fff;
$border: #e6e9ed;


.custom-resizer {
  width: 100%;
  height: 100vh;
}

.custom-resizer > .pane {
  text-align: left;

  overflow: hidden;
  background: $bg;

  &.menu {
    width: 350px;
    min-width: 350px;
    max-width: 30%;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    user-select: none; /*选中文字时避免出现蓝色背景*/

  }

  &.catalogue {
    width: 300px;
    padding: 15px;
    background-color: #f4f6f9;
  }
}

.custom-resizer > .multipane-resizer {
  margin: 0;
  left: 0;
  position: relative;
  background-color: $bg;

  &:hover {
    &:before {
      border-color: #999;
    }
  }
}

.menu {
  border-right: 1px solid $border;

  .avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 8px 10px;
    border-bottom: 1px solid $border;

    & > div {
      display: flex;
      align-items: center;
    }

    h2 {
      margin: 10px;
    }
  }

}

.el-tree {
  .svg-icon {
    font-size: 16px;
  }
}

.catalogue {
  .ant-divider-horizontal {
    margin: 15px 0;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      margin: 0;
    }
  }
}

.doc {
  flex: 1;
  //padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  &>div {
    //max-width: 860px;
    width: 98%;
  }

  &-title {
    display: flex;
    margin-bottom: 10px;
    padding-right: 100px;

    .el-input {
      font-size: 20px;

      ::v-deep(.el-input__inner) {
        border: none;
      }
    }

    .el-button {
      padding: 5px 15px 4px;
    }
  }
}

#vditor {
  height: calc(100vh - 66px);
}

 ::v-deep(.vditor) {
   //--border-color: #e6e9ed;
   --border-color: transparent;
   --toolbar-background-color: #fff;
   --textarea-background-color: #fff;

   //.vditor-toolbar__item {
   //  margin: 0 4px;
   //}
   ::-webkit-scrollbar {
     width: 10px;
     height: 10px;
   }

   ::-webkit-scrollbar-thumb {
     background-color: #bcbcbc;
     height: 50px;
     outline-offset: -2px;
     outline: 1px solid transparent;
   }

   ::-webkit-scrollbar-track-piece {
     background-color: transparent;
     -webkit-border-radius: 0;
   }
 }

.menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
}

.right-menu {
  z-index: 1;
  position: absolute;
  width: 100px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;

  .menu-item {
    line-height: 16px;
    text-align: left;
    font-size: 14px;
    color: #606266;
    cursor: pointer;
    list-style-type: none;
    padding: 8px;
  }

  li:hover {
    background-color: #edf6ff;
    color: #606266;
  }
}

.vditor-ir pre.vditor-reset:focus {
  background-color: #fff;
}
