<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShowNoteTest</title>
</head>

<body>
    <h1>ShowNoteTest</h1>
    <button onclick="auth()">Gitee Login</button>
    <script type="text/javascript">
        function auth() {
            // 1. 应用通过 浏览器 或 Webview 将用户引导到码云三方认证页面上（ GET请求 ）
            let clientId = 'f5763537e579c4f97c56c69b80489a17e250d8186e48efbe3e3fba4c4b6c9558'
            let redirectUri = 'http://127.0.0.1:8000/auth'
            let authUrl = 'https://gitee.com/oauth/authorize?client_id=' + clientId + '&redirect_uri=' + redirectUri + '&response_type=code'
            window.location = authUrl
        }
    </script>
</body>

</html>